@model List<ChildrenTransport.Web.Models.Taxi>

@{
    ViewData["Title"] = "JPM Transportation";
}

<div class="container text-center">

    <h1 class="display-5 mb-5">Welcome to JPM Transportation</h1>
    
    <div id="transports" style="background-color:lightgray;" class="carousel slide mb-5" data-bs-ride="carousel">        

        <!-- carousel items-->
        <div class="carousel-inner">

            @{
                int count = 0;

                if(Model != null)
                {
                    foreach(Taxi taxi in Model)
                    {
                        if(taxi != null)
                        {
                            if (count == 0)
                            {
                                ++count;
                                <div class="carousel-item active">
                                    <a asp-controller="Home" asp-action="TransportDetails" asp-route-Id="@taxi.Id">
                                        <img src="~/@taxi.Image" width="490" height="360" alt="@taxi.Name" />
                                    </a>
                                </div>
                            }
                            else
                            {
                                <div class="carousel-item">
                                    <a asp-controller="Home" asp-action="TransportDetails" asp-route-Id="@taxi.Id">
                                        <img src="~/@taxi.Image" width="490" height="360" alt="@taxi.Name" />
                                    </a>
                                </div>
                            }
                        }
                    }
                }
            }           
            
        </div>

        <!-- carousel nav-->
        <button class="carousel-control-prev" type="button" data-bs-target="#transports" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#transports" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>

    </div>

</div>
